.container--education,
.container--education * {
  font-family: "Times New Roman", serif !important;
  color: #2a2a2a;
  /* border: 2px solid red; */
  max-width: 100% !important; background-color: inherit;
}
.container--education h1 {font-size: 1.45rem;}
.container--education h2 {font-size: 1.15rem;}
.container--education p,
.container--education ul,
.container--education li,
.container--education li p,
.container--education ol {
  text-align: justify;
  hyphens: auto;
  font-size: 1.2rem; /*change this for all pages using this container text
  /* border: 2px solid red; */
}

.container--education li strong { font-size: 1em; }

.download {
  right: 40px;
  color: #d2d2d2;
  text-decoration: none;
  text-transform: uppercase; 
  font-size: .8em;
  font-weight: bold;
  transition: all 0.2s ease;
  position: relative;
  float: right;
}

.download:hover {
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}


