<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{{ '/css/main.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/css/containers.css' | relative_url }}">

    <meta charset = "UTF-8" >
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <meta name = "description" content = "Tay Li Yuen portfolio and blog in life">
    <meta name = "keywords" content = "engineering, electronic">

  <head>

    <title>{{ page.title }}</title>
    
    {% include nav.html%}

  </head>


  <body>

  <div class="container--{{ page.container | default: 'default' }}">

    {{ content }}

  </div>
  
  <footer>
   <ul>
      <li><a href="mailto:liyuentay1603@gmail.com">email</a></li>
      <li><a href="https://github.com/E-Synergy">github</a></li>
      <li><a href="https://www.linkedin.com/in/li-yuen-tay-94695b2a0/">linkedin</a></li>
   </ul>
  </footer>
  </body>

</html>
