<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8" >
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <meta name = "description" content = "Tay Li Yuen portfolio and blog in life">
    <meta name = "keywords" content = "engineering, electronic">

    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="{{ '/css/containers.css' | relative_url }}">

  </head>


  <body>
    <nav>
<ul style="padding-bottom: 40px;">
<li><a href="/">Home 主页</a></li>
<li><a href="/about">About 关于</a></li>
<li><a href="/cv">CV 阅历</a></li>
<li><a href="/blog">Blog 博客</a></li>
</ul>
    </nav>
<div class="container--{{ page.container | default: 'default' }}">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:liyuentay1603@gmail.com">email</a></li>
   <li><a href="https://github.com/E-Synergy">github</a></li>
   <li><a href="https://www.linkedin.com/in/li-yuen-tay-94695b2a0/">linkedin</a></li>
   </ul>
  </footer>
  </body>

</html>
